<% include ../partials/header %>
<div class=" bg-info text-white"><h1 class="text-center">Read My Story</h1></div>
<div class="container">
	<div class="row">
		<div class="col-md-9">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title"><%=story.title %></h3>
					<cite class=" card-subtitle d-flex justify-content-end  blockquote-footer"
						>Posted on <%= story.storyDate %>
					</cite>
					<p class="card-text"><%- story.storybody %></p>

					<% if(story.user.id === user.id) { %>
					<div class="float-right">
						<a href="/stories/edit/<%=story._id %>" class="card-link btn btn-sm btn-info "
							>Edit <i class="far fa-edit"></i
						></a>
						<form action="/stories/<%= story._id %>?_method=DELETE" method="POST" class="d-inline">
							<button type="submit" class="card-link btn btn-sm btn-danger  ">
								Delete <i class="fas fa-times"></i>
							</button>
						</form>
					</div>
					<% } %>
				</div>
			</div>
			<% if(story.allowComments){ %>
			<div class="card">
				<div class="card-body">
					<h4 class="card-title">
						Comments
					</h4>
					<% if(user){ %>
					<div>
						<form action="/stories/comment/<%=story._id %>" method="POST" class="form-group">
							<label for="comments">Add a comment</label>
							<textarea name="commentBody" id="comments" class="form-control bg-light" required>
							</textarea>
							<input class="btn btn-success my-2" type="submit" />
						</form>
					</div>
					<% story.comments.forEach(comment =>{ %>
					<div class="card table ">
						<div class="card-body table-dark">
							<p><%= comment.commentBody %></p>
							<div class="blockquote-footer text-white">
								<span class="font-weight-bold">Post by <%=comment.username%> </span>
								<cite> On <%= moment(comment.commentDate).format("lll") %> </cite>
							</div>

							<form
								action="/stories/<%= story._id %>/comment/<%=comment._id %>?_method=DELETE"
								method="POST"
							>
								<% if(comment.id.equals(user.id)){%>
								<button type="submit" class="card-link btn btn-sm btn-danger float-right rounded-circle  ">
									 <i class="fas fa-times"></i>
								</button>

								<% }%>
							</form>
						</div>
					</div>
					<% }) %> <%}else{%>
					<p>Please <a href="/user/login"> Login </a> to leave a comment</p>
					<% }%>
				</div>
			</div>
			<% }%>
		</div>
		<div class="col-md-3">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title"><%= story.user.firstname %> <%= story.user.lastname %></h3>
					<h5 class="card-link"><a href="/stories/user/<%= story.user.id%>"> More Stories>></a></h5>
				</div>
			</div>
		</div>
	</div>
</div>
